{#
/**
 * @see field.html.twig
 */
#}
{% apply spaceless %}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
  {% endif %}
  {% if multiple %}
    <div class="field__items">
  {% endif %}
  {% set i = 1 %}
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item') }}>
      <div class="prize--info">
        <div class="prize--number">{{ i }}</div>
        {{ item.content }}
        </div>
    </div>
    {% set i = i + 1 %}
  {% endfor %}
  {% if multiple %}
    </div>
  {% endif %}
</div>
{% endapply %}
