{#
/**
 * @see field.html.twig
 */
#}
{% spaceless %}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item badge badge--has-geo-references') }}>{{ item.content }}</div>
  {% endfor %}
</div>
{% endspaceless %}
