{#
/**
 * @see paragraph.html.twig
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.field_heading['#items'] is not empty %}
      <div class="container">
        {{ content.field_heading }}
      </div>
      <hr class="separator">
    {% endif %}
    <div class="container">
      <div class="row">
        {% if content.field_medium['#items'] is not empty %}
          <div class="col-md-6 col-lg-5 order-md-2">
            <div class="row">
              <div class="col-12">
                {% if content.field_medium['#items'] is not empty %}
                  {% if content.field_heading is not empty %}
                    <div class="d-flex flex-column justify-content-center h-100 mb-5 mb-md-0">{{ content.field_medium }}</div>
                  {% else %}
                    {{ content.field_medium }}
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
        <div class="col-md-6 col-lg-7">
          {{ content.field_text }}
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
