{#
/**
 * @see paragraph.html.twig
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'container',
  ]
%}
{% set color = false %}
{% if content.field_color['#items'] is not empty %}
  {% set color = content.field_color[0]['#taxonomy_term'].field_hex_code[0].value %}
{% endif %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="box--container box--width-{{ content.field_width['#items'].value }}">
      {% block content %}
        <div class="card"{% if color %} style="background-color: #{{ color }};"{% endif %}>
          {% if content.field_image['#items'] is not empty %}
            <div class="card-img-top">{{ content.field_image }}</div>
          {% endif %}
          <div class="card-body">{{ content.field_text }}</div>
          {% if content.field_footer['#items'] is not empty %}
            <div class="card-footer"{% if color %} style="background-color: #{{ color }};"{% endif %}>{{ content.field_footer }}</div>
          {% endif %}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
