{#
/**
 * @see node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'row',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div class="article--header-image d-none d-md-flex align-items-end">
    {{ content.field_image }}
  </div>

  <div class="article--content-container col-12">
    <div class="article--header">
      <div class="d-flex flex-column">

        <div class="order-md-last article--date">
          {{ node.createdtime|format_date('date_short') }}
        </div>

        {{ title_prefix }}
          <h3{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h3>
        {{ title_suffix }}

      </div>
    </div>
  </div>

</article>
