{#
/**
 * @see node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'image-header',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  {{ content.content_moderation_control }}

  <div class="article__header">
    <div class="row m-0">
      <div class="col-lg-5 px-8 py-7">
        <div class="d-flex flex-column justify-content-between h-100">
          <div>
            {{ title_prefix }}
            <h1{{ title_attributes }}>
              {{ label }}
            </h1>
            {{ title_suffix }}
          </div>
          <div>
            {{ content.field_short_description }}
          </div>
        </div>
      </div>
      <div class="col-lg-7 py-7 px-0 pr-md-7 text-right">
        <div class="article__header__image">
          {% if awards|length %}
            <div class="field field--awards">{{ awards|join(', ') }}</div>
          {% endif %}
          {{ content.field_attributed_image }}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="project__tags">
      {{ content.field_event }}
    </div>
    <div class="project__tags">
      {{ content.field_tags }}
    </div>
  </div>

  <hr class="separator">

  <div class="article--content-container container mb-6">
    {% if content.field_audio_video['#items'] is not empty %}
      <div class="field--name--field-audio-video__media">
        <video controls poster="{{ audio_video.poster }}" class="img-fluid">
          <source src="{{ audio_video.url }}" type="{{ audio_video.mime_type }}">
          <p>
            {% trans %}
              Your browser does not support HTML5 video. Here is a <a href="{{ audio_video.url }}">link to the video</a> instead.
            {% endtrans %}
          </p>
        </video>
        {{ content.field_audio_video }}
      </div>
    {% endif %}

    <div{{ content_attributes.addClass('node__content mt-4') }}>


      {{ content.field_description }}
      {{ content.field_description_unconstrained }}

      {{
        content
        |without('header_image')
        |without('field_short_description')
        |without('field_description')
        |without('field_description_unconstrained')
        |without('field_audio_video')
        |without('field_attributed_image')
        |without('field_event')
        |without('field_tags')
        |without('content_moderation_control')
      }}

    </div>
  </div>

</article>
