{#
/**
 * @see node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'image-header',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  {{ content.content_moderation_control }}

  <div class="article--header-image d-none d-md-block">
    <div class="container">
      {{ content.header_image }}
    </div>
  </div>

  <div class="article--content-container row">
    <div class="article--header col-sm-10 offset-sm-1 col-md-9 offset-md-2">
      <div class="article--content-block">
        <div class="node--type-project--audio-video">
          {% if content.field_audio_video['#items'] is not empty %}
            <video controls poster="{{ audio_video.poster }}">
              <source src="{{ audio_video.url }}" type="{{ audio_video.mime_type }}">
              <p>
                {% trans %}
                  Your browser does not support HTML5 video. Here is a <a href="{{ audio_video.url }}">link to the video</a> instead.
                {% endtrans %}
              </p>
            </video>
            {{ content.field_audio_video }}
        </div>
        {% else %}
          {{ content.field_attributed_image }}
        {% endif %}
      </div>
    </div>

    <div{{ content_attributes.addClass('node__content col-sm-10 offset-sm-1 col-md-9 offset-md-2') }}>
      {{ title_prefix }}
      <h1{{ title_attributes }}>
        {{ label }}
      </h1>
      {{ title_suffix }}

      {% if display_submitted %}
        <div{{ author_attributes.addClass('node__submitted').addClass('row') }}>
          <div class="col-4">
            {{ node.createdtime|format_date('date_short') }}
          </div>
          <div class="col-8 text-right">
            {{ 'by'|trans }}{{ author_name }}
          </div>
        </div>
      {% endif %}

      <div class="project--tags">
        {% if award %}
          <div class="badge badge--award">{{ award }}</div>
        {% endif %}
        {{ content.field_event }}
      </div>

      {{
        content
        |without('header_image')
        |without('field_audio_video')
        |without('field_attributed_image')
        |without('field_event')
        |without('field_tags')
        |without('content_moderation_control')
      }}

      <div class="project--tags">
        {{ content.field_tags }}
      </div>
    </div>

  </div>


</article>
