{#
/**
 * @see node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'row',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div class="article--header-image d-none d-md-flex align-items-end">
    {{ content.field_image }}
  </div>

  <div class="article--content-container col-12">
    <div class="article--header">

      <div class="article--date">
        {{ node.createdtime|format_date('date_short') }}
      </div>

      {{ title_prefix }}
        <h3{{ title_attributes }}>{{ label }}</h3>
      {{ title_suffix }}

      <a href="{{ url }}" rel="bookmark">{{ 'Read article'|trans }}</a>
    </div>
  </div>

</article>
