{#
/**
 * @see node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'card',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="card-img card-img-top">
    <a href="{{ url }}">
      {{ content.field_attributed_image }}
    </a>
  </div>

  <div class="card-body">
    {{ title_prefix }}
    <h2{{ title_attributes.addClass('card-title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ title_suffix }}

    <div{{ content_attributes.addClass('node__content') }}>
      {{ content|without('field_attributed_image') }}
      {% if awards|length %}
        <div class="field">
          {% for award in awards %}
            <div class="badge badge--award">{{ award }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

</article>
