{#
/**
 * @see block.html.twig
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'row',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="col-sm-8 col-lg-8">
      <div class="row">
        <div class="col-12">
          {#
            Should be {{ drupal_block('page_title_block') }}, but that is not
            supported yet:
            https://www.drupal.org/project/twig_tweak/issues/3013136
          #}
          <h1 class="page-title">{{ drupal_title() }}</h1>
        </div>
        <div class="col-12">
          {{ content|without('field_image')|without('field_image_color') }}
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-lg-4 d-none d-sm-flex align-items-center">
      {{ content.field_image }}
      <div class="image-mask" style="mask-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); -webkit-mask-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); background-color: #{{ content.field_image_color[0]['#taxonomy_term'].field_hex_code[0].value }}"></div>
    </div>
  {% endblock %}
</div>

<svg height="0" xmlns="http://www.w3.org/2000/svg">
  <filter id="drop-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="4"/>
    <feOffset dx="5" dy="1" result="offsetblur"/>
    <feFlood flood-color="rgba(0,0,0,0.15)"/>
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/>
    </feMerge>
  </filter>
</svg>
