{#
/**
 * @see block.html.twig
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'mt-10',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div class="container">
      <h2{{ title_attributes }}>{{ label }}</h2>
    </div>
    <hr class="separator">
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="container">
      {{ content }}
    </div>
  {% endblock %}
</div>
