<div class="block-figures--item block-figures--item--institutions">
  <div class="block-figures--item--image"><img alt="Institutionen" src="{{ module_path }}/img/institutions.svg"></div>
  <div class="block-figures--item--number"><span data-count="{{ counts.institutions }}">{{ counts.institutions }}</span> {{ 'Institutions'|trans }}</div>
</div>
<div class="block-figures--item block-figures--item--datasets">
  <div class="block-figures--item--image"><img alt="Datensets" src="{{ module_path }}/img/datasets.svg"></div>
  <div class="block-figures--item--number"><span data-count="{{ counts.datasets }}">{{ counts.datasets }}</span> {{ 'Data sets'|trans }}</div>
</div>
<div class="block-figures--item block-figures--item--projects">
  <div class="block-figures--item--image"><img alt="Projekte" src="{{ module_path }}/img/projects.svg"></div>
  <div class="block-figures--item--number"><span data-count="{{ counts.projects }}">{{ counts.projects }}</span> {{ 'Projects'|trans }}</div>
</div>
