{#
/**
 * @see page.html.twig
 */
#}
{% set tiled_header = is_front or node and node.bundle == 'event' %}

{% if tiled_header %}
  {% if is_front %}
    {% include '@relaunch2018/page/header--front.html.twig' %}
  {% else %}
    {% include '@relaunch2018/page/header--event.html.twig' %}
  {% endif %}
{% endif %}

{{ page.language_switcher }}
{{ page.primary_menu }}
{{ page.secondary_menu }}

<div class="layout-container--wrapper{% if tiled_header %} header-tiles-above{% endif %}">
  <div class="layout-container">

    {% if not tiled_header %}
      <header role="banner">
        {% if page.admin_tabs %}
          {{ page.admin_tabs }}
        {% endif %}

        {% if page.header_with_background %}
          <div class="header--with-background">
            <div class="container">
              {{ page.header_with_background }}
            </div>
          </div>
        {% else %}
          <div class="container header--default">
            <div class="header--default--brand">
              <img src="{{ theme_path }}/img/CDV_Logo_Line.svg">
            </div>

            {{ page.header }}
          </div>
        {% endif %}
      </header>
    {% endif %}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}

    <main role="main">
      <a id="main-content" tabindex="-1"></a>

      <div class="layout-content container">
        {{ page.content }}
      </div>

      {% if page.sidebar_first %}
        <aside class="layout-sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </main>
  </div>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
