{#
/**
 * @see field.html.twig
 */
#}
{% spaceless %}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="field__items">
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>
        <div class="winner--info">
          <div class="winner--info--award--wrapper">
            <span class="winner--info--award">{{ item.content['#paragraph'].field_award.0.value }}</span>
          </div>
          <div class="winner--info--project-title">
            {% set nid = item.content['#paragraph'].field_project[0].target_id %}
            {{ drupal_link(drupal_field('title', 'node', nid), 'node/' ~ nid) }}
          </div>
        </div>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div>
{% endspaceless %}
