{#
/**
 * @see node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'row',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div class="col-12 header">
    <div class="date">
      {{ node.createdtime|format_date('date_short') }}
    </div>
  </div>

  <div class="col-12">
    {{ title_prefix }}
    <h3{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
    {{ title_suffix }}
  </div>

  <div class="col-12">
    <div{{ content_attributes.addClass('node__content') }}>
      {{ content }}
    </div>
  </div>
</article>
