{#
/**
 * @see node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'container',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div class="row">

    <div class="col-md-4">
      {{ content.field_image }}
    </div>
    <div class="col-md-8 mt-3 mt-md-0">

      <div class="article--header">

        <div class="row">
          <div class="col-12 article--header--above">
            <div class="article--date">
              {{ node.createdtime|format_date('date_short') }}
            </div>
            <div class="article--tags">
              {{ content.field_tags }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            {{ title_prefix }}
            <h3{{ title_attributes }}>
              <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h3>
            {{ title_suffix }}
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div{{ content_attributes.addClass('node__content') }}>
            {{ content|without('field_tags')|without('field_image') }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 author">
          {{ 'by'|trans }}{{ author_name }}
        </div>
      </div>

    </div>
  </div>
</article>
