{#
/**
 * @see page.html.twig
 */
#}
<div class="layout-container">

  <header role="banner" class="container">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-header">
      {% if page.content_header %}
        {{ page.content_header }}
      {% else %}
        {# default/fallback header #}
        <div class="container header--default">
          <img src="{{ theme_path }}/img/CDV_Logo_Line.svg">
        </div>
      {% endif %}
    </div>

    <div class="layout-content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
