{#
/**
 * @see page.html.twig
 */
#}
<div class="layout-container">

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  <header role="banner">
    {% if page.admin_tabs %}
      {{ page.admin_tabs }}
    {% endif %}

    {% set showCustomHeader = false %}
    {% if page.header %}
      {% for key in page.header|keys %}
        {% if not (key matches '/^#.+/') and not (key matches '/^relaunch2018_page_title_blank/') %}
          {% set showCustomHeader = true %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if showCustomHeader %}
      <div class="header--custom">
        <div class="container">
          {{ page.header }}
        </div>
      </div>
    {% else %}
      {# default/fallback header #}
      <div class="container header--default">
        <img src="{{ theme_path }}/img/CDV_Logo_Line.svg">
        {{ page.header }}
      </div>
    {% endif %}
  </header>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
