{#
/**
 * @see user.html.twig
 */
#}
<article{{ attributes.addClass('profile container') }}>
  {% if content %}
    {% if content.field_logo['#items'] is not empty %}
      <div class="row mb-5">
        <div class="col-md-3">{{ content.field_logo }}</div>
        <div class="col-md-9">{{ content.group_institution }}</div>
      </div>
      <div class="row">
        <div class="col-12">
          {{- content|without('field_logo')|without('group_institution') -}}
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-12">
          {{- content -}}
        </div>
      </div>
    {% endif %}
  {% endif %}
</article>
